.card {
  border: 2px solid black;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  background-color: #232323;
  color: white;
  border-radius: 5px;
}

.card__title > h3 {
  display: flex;
  justify-content: center;
}

.card__body {
  background-color: #616161;
  width: 90%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}

.card__stats {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.card__stats__type {
  background-color: rgb(179, 40, 40);
  margin-right: 3px;
  border-radius: 5px;
  padding: 5px;
}
