.title {
  text-align: center;
  margin-bottom: 30px;
}

.title > input {
  border-radius: 5px;
}
.title > h1 {
  margin: 10px ;
}

.card {
  margin: 0px auto;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #232323;
  color: white;
  border-radius: 5px;
}


.card__title > h3 {
  display: flex;
  justify-content: center;
}

.card__body {
  background-color: #616161;
  width: 90%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}

.card__body > img {
  height: 245px;
  width: 225px;
}

.card__stats {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.ol_types {
  background-color: rgb(179, 40, 40);
  margin-top: 3px;
  margin-left: 2px;
  border-radius: 5px;
  padding: 3px;
  font-weight: bold;
  list-style: none;
  filter: brightness(1.1);
}

.normal {
  background-color: #a6a877;
}

.grass {
  background-color: #77c850;
}

.fire {
  background-color: #ee7f30;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}


