
<div class="content">
  <div class="title">
    <h1>My pokedex</h1>
    <input type="text" class="input_text" placeholder="Search for a pokemon or ID" (input)="getPokemon($any($event.target).value)">
  </div>
  <div class="card">
    <div class="card__title">
      <h3>{{ pokemon.name }}</h3>
    </div>
    <div class="card__body">
      <img [src]="pokemon.sprites.front_default" alt="pokemon">
    </div>
    <div class="card__stats">
      <ol class="types" *ngFor="let t of pokemon.types">
        <li class="type {{t.type.name}}">{{ t.type.name }}</li>
      </ol>
    </div>
  </div>
