* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 241, 241);
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: #FFF;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 982px) {
  .content {
    max-width: 982px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}


